h1 {
    color: red;
}
p {
    color: blue;
    font-family: 'Lucida Sans', sans-serif;
}
img {
    border-radius: 2000px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
th,
td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    text-align: inherit;
    background-color: #e9ecef;
    border-bottom: 2px solid #dee2e6;
}
tbody tr:nth-of-type(odd) {
    background-color: rgba(101, 147, 44, 0.05);
}
tbody tr:hover {
    background-color: rgba(101, 147, 44, 0.1);
}
caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: rotate(0deg) translate(0, 0) scale(1); }
    10% { transform: rotate(720deg) translate(30px, -20px) scale(1.3); }
    20% { transform: rotate(-1080deg) translate(-40px, 40px) scale(0.8); }
    30% { transform: rotate(1440deg) translate(50px, -50px) scale(1.5); }
    40% { transform: rotate(-720deg) translate(-30px, 30px) scale(1.1); }
    50% { transform: rotate(1080deg) translate(40px, -40px) scale(0.9); }
    60% { transform: rotate(-1440deg) translate(-50px, 50px) scale(1.4); }
    70% { transform: rotate(720deg) translate(30px, -30px) scale(1); }
    80% { transform: rotate(-1080deg) translate(-40px, 40px) scale(1.3); }
    90% { transform: rotate(1440deg) translate(50px, -50px) scale(0.7); }
    100% { transform: rotate(0deg) translate(0, 0) scale(1); }
}
